{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-len": [1, 140],
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 1,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "linebreak-style": 0,
    "global-require": 0
  },
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": [
    "react", "import"
  ],
  "globals": {
    "mainWindow": true
  }
}