body {
	-webkit-app-region: drag;
    background: none; !important;
	background-color: transparent; !important;
}

div#connect-buttons {
    -webkit-app-region: no-drag;
}

div#media-buttons {
    overflow: hidden;
    height: 90px;
    width: 275px;
    background-color: #dadce7;
    margin: 2px 0;
    position: relative;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.album-art-div>img{
	-webkit-app-region: drag;
    width: 275px;
    height: 275px;
    position: relative;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

/*TODO: Make prettier*/
div.track-info {
    width: 275px;
    height: 55px;
    font-size: 13px;
    background-color: #dadce7;
    color: black;
    position: relative;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    white-space: pre-line;
}

.btn-circle {
	-webkit-app-region: no-drag;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 22px;
    font-size: 32px;
    line-height: 1.33;
    border-radius: 35px !important;
    /*border: 0;*/
    color: #ffffff;
    /*outline: none;*/
    top: 50%;
    left: 50%;
}

.btn-circle-sml {
    width: 58px;
    height: 58px;
    margin-top: 10px;
    margin-left: 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px !important;
    color: #ffffff;
    text-align: center;
    outline: none;
}

.glyphicon {
    font-size: 20px;
}