body {
	/*-webkit-app-region: drag;*/
    background: none; !important;
	background-color: transparent; !important;
}

div#media-buttons {
    overflow: hidden;
    height: 90px;
    width: 275px;
    background-color: #dadce7;
    margin: 2px 0;
    position: relative;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.album-art-div>img{
    width: 275px;
    height: 275px;
    position: relative;
}

/*TODO: Make prettier*/
div.track-info {
    height: 55px;
    font-size: 13px;
    color: black;
    white-space: pre-line;
}

div.volume-slider {
    height: 26px;
    display: flex;
    align-items: center;
}

/*Styling for the volume slider*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

    input[type=range]{
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 200px;
        height: 3px;
        background: #404040;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #337ab7;
        margin-top: -6px;
    }

    input[type=range]:focus {
        outline: none;
    }
}

/** FF*/
input[type="range"]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #337ab7;
}
input[type="range"]::-moz-range-track {
    background-color: #404040;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}

/*End volume slider styling*/

.base-div {
    width: 275px;
    margin: 2px 2px;
    position: relative;
    background-color: #dadce7;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 22px;
    font-size: 32px;
    line-height: 1.33;
    border-radius: 35px !important;
    /*border: 0;*/
    color: #ffffff;
    /*outline: none;*/
    top: 50%;
    left: 50%;
}

.btn-circle-sml {
    width: 58px;
    height: 58px;
    margin-top: 10px;
    margin-left: 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px !important;
    color: #ffffff;
    text-align: center;
    outline: none;
}

.button-no-drag {
    -webkit-app-region: no-drag;
}

.glyphicon {
    font-size: 20px;
}